<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{title}}</title>
  <style type="text/css" media="all">
    .ace_editor { height: 400px; }
  </style>
</head>

<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="/">Home</a></li>
    <li class="active"><a ng-href="#/confs">Enviornments</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">ancor ({{version}}) dashboard </h3>
</div>

<div class="row marketing">
  <h1>{{title}}</h1>
  <div ng-repeat="conf in data">
    <h2><a>{{conf.name}}</a></h2>
    <p>{{conf.contents}}</p>
  </div>

  <h3>Enter a new config</h3>
  <form name="myForm">
    <div class="control-group" ng-class="{'has-error': myForm.configInput.$invalid}">
      <label for="confName">ARML Config Name</label>
      <input type="text" name="configInput" class="form-control" ng-model="confFileName" required>
      <span class="error" ng-show="myForm.configInput.$error.required">
        <h3>Required!</h3>
      </span>
    </div>
  </form></br>
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Add template <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" >
      <li><a ng-click="goalTemplate()">goal</a></li>
      <li><a ng-click="roleTemplate()">role</a></li>
    </ul>
    <script type="text/ng-template" id="confHelp.html">
        <div class="modal-header">
            <h3>An example ARML Configuration</h3>
        </div>
        <div class="modal-body">
          <p>{{helpText}}</p>
          <p>{{roleInfo}}</p>
          <pre>{{exampleConf}}</pre>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>

    <button type="button" class="btn btn-info" ng-click="help()">Help</button>
  </div></br></br>
  <div id="editor" ui-ace="{
    mode: 'yaml',
    useWrapMode: true,
    onLoad: loadConf,
    onChange: confChange
    }">
  </div></br>
  <button class='btn btn-info' type="submit" ng-click="deploy()">Submit to ANCOR</button>
</div>

<div class="footer">
  <p>ancor-dashboard {{dashboardVersion}} | Kansas State University | Brian Cain 2014</p>
</div>
