<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <style type="text/css">
  </style>
  <title>{{title}}</title>
</head>

<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="/">Home</a></li>
    <li><a ng-href="#/confs">Confs</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">ancor ({{version}}) dashboard </h3>
</div>

<!-- <div class="jumbotron"> -->
<!--   <h1>ANCOR Network</h1> -->
<!--   <p class="lead"> -->
<!--     <img src="images/ancor.png" alt="I'm Yeoman" height="140" width="128"><br> -->
<!--   </p> -->
<!--   <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p> -->
<!-- </div> -->

<div class="row text-center">
  <div class="col-md-4">
    <h1 class="text-primary" style="font-size: 60px;">{{totalInstances}}</h1> Instances
  </div>
  <div class="col-md-4">
    <h1 class="text-success">{{totalDeployed}}</h1> Deployed
  </div>
  <div class="col-md-4">
    <h1 class="text-warning">{{totalUndefined}}</h1> Undefined
  </div>
</div>

<div class="row text-center">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <h1 class="text-success">{{totalUndeployed}}</h1> Undeployed
  </div>
  <div class="col-md-4">
    <h1 class="text-danger">{{totalErrored}}</h1> Error
  </div>
</div>

<div class="row marketing">
  <div class="row">
    <h4>Instance State Details</h4>
    <!-- <div class="col-md-9"> -->
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Add New Instance <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" >
          <li ng-repeat="role in roles"><a ng-click="">{{role}}</a></li>
        </ul>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Interface</th>
            <th>Stage</th>
            <th>More Info</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="instance in instances">
            <td>{{instance.name}}</td>
            <td>{{instance.interfaces}}</td>
            <td ng-if="instance.stage == 'undefined'">
              <span class="label label-warning">{{instance.stage}}</span>
            </td>
            <td ng-if="instance.stage == 'deploy'">
              <span class="label label-success">{{instance.stage}}</span>
            </td>
            <td ng-if="instance.stage == 'undeployed'">
              <span class="label label-success">{{instance.stage}}</span>
            </td>
            <td ng-if="instance.stage == 'error'">
              <span class="label label-danger">{{instance.stage}}</span>
            </td>
            <td>
              <div ng-controller="MainCtrl">
                  <script type="text/ng-template" id="myModalContent.html">
                      <div class="modal-header">
                          <h3>Instance Details</h3>
                      </div>
                      <div class="modal-body">
                          <ul>
                              <li ng-repeat="(key,item) in items">
                                  <a ng-click="selected.item = item">{{key}} - {{ item }}</a>
                              </li>
                          </ul>
                          Selected: <b>{{ selected.item }}</b>
                        <h4>Advanced Details</h4>
                      </div>
                      <div class="modal-footer">
                          <button class="btn btn-primary" ng-click="ok()">OK</button>
                          <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                      </div>
                  </script>

                  <button class='btn btn-info' ng-click="open(instance)">View</button>
              </div>
            </td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                  Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a ng-click="replaceInstance(instance.id)">Replace</a></li>
                  <li><a ng-click="deleteInstance(instance.id)">Delete</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    <!-- </div> -->
    <div class="col-md-5">
      <!-- <div id="instanceChart">D3 Chart Goes Here</div> -->
    </div>

  </div>

  <h4>Environments</h4>

  <h4>Goals</h4>

  <h4>Tasks</h4>

  <h4>Instance Graphs</h4>
  <svg ng-attr-height="{{graph.height}}" ng-attr-width="{{graph.width}}">
    <circle ng-repeat="circle in circles"
        ng-attr-cx="{{circle.x}}"
        ng-attr-cy="{{circle.y}}"
        ng-attr-r="{{circle.r}}">
    </circle>
  </svg>
</div>

<div class="footer">
  <p>ancor-dashboard {{dashboardVersion}} | Kansas State University | Brian Cain 2014</p>
</div>

<script src="bower_components/d3/d3.js"></script>
<!-- <script src="scripts/forced-graph.js"></script> -->
