<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{title}}</title>
</head>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ANCOR {{version}} Dashboard</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Dashboard</a></li>
        <li><a href="#/confs">Environments</a></li>
        <li class="active"><a href="#/tasks">Tasks</a></li>
        <li><a href="https://github.com/arguslab/ancor-dashboard/tree/master/doc">Help</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="/">Overview</a></li>
        <li><a href="#/confs">Environment</a></li>
        <li class="active"><a href="#/tasks">Tasks</a></li>
        <li><a href="#/deploy">Deploy</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="row marketing">
        <h1 class="page-header">{{title}}</h1>
        <input type="text" placeholder="Search tasks..." class="form-control" ng-model="searchText" />
        <table class="table table-hover">
          <thead>
            <tr>
              <th ng-repeat="key in keys">{{key}}</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr ng-repeat="task in tasks | orderBy:predicate:reverse | limitTo:quantity"> -->
            <tr ng-repeat="task in tasks | orderBy:predicate:reverse | filter:searchText">
              <td>{{task.id}}</td>
              <td>{{task.type}}</td>
              <td>args</td>
              <td>
                <span class="label {{checkStateLabel(task.state)}}">{{task.state}}</span>
              </td>
              <td>{{task.created_at | date:'MM/dd/yyyy @ h:mma'}}</td>
              <td>{{task.updated_at | date:'MM/dd/yyyy @ h:mma'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <p>ancor-dashboard {{adVersion}} | Kansas State University | Brian Cain 2014</p>
</div>
